
body {
	background-color: #2d3032; /* Brackets Window Frame */
	color: #00cc99; /* Caribbian Green */
	font-family: sans-serif;
	margin: 0em;
	padding: 0em;
	padding-bottom: 10em;
}

div {
	border: 0.3em solid white;
	padding: 0.5em;
	margin: 0.5em;
}

p {
	padding: 0.5em;
}

span.display {
	color: orange;
}

#footer {
	background-color: inherit;
	border: none;
	text-align: center;
	position: fixed;
	bottom: 0%;
	width: 100%;
	margin: 0em;
	padding: 0.75em 0em;
}

a.email {
	color: white;
}

a.email:hover {
	color: #00cc99; /* Caribbian Green */
}

a.tab {
	background-color: orange;
	color: #2d3032; /* Brackets Window Frame */
	padding: 0.75em;
}

h1 {
	color: orange;
}

#header a {
	color: #00cc99; /* Caribbian Green */
}

p.info {
	color: #2d3032; /* Brackets Window Frame */
	background-color: white;
}

p.note {
	color: orange;
}

#footer b {
	color: white;
}



h2 {
	color: white;
}
